@font-face {
      
  font-family: "mr_PotraLightG"; 
  src: url('19700.ttf'); 
  font-style: normal; 
  font-weight: normal; 
}
body{
  
  font-family: mr_PotraLightG;
  font-size: 20px;
  background: #d5d5d3;
}
header{
  
  background-color:#fdd947; 
  height:120px;
  
}
.url{ 
  color:#d5d5d3;
}

.url:hover {
  color:#fdd947;
}

a{
  color:#272727;
}

a:hover {
  color: #fdd947;
}
table{
  border: 4px double black;
}
th{
  border: 1px solid black;
}
tr{
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
#img{
  width:200px; 
  height:140px; 
  
}

#name{
  color:#272727;
  font-size: 70px;
}

footer{
  background-color: #fdd947;
  height: 120px;
}
.slider {
  position: relative;
  padding: 0px 20px;
}
.ph{
  width: 200px;
}
.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -50px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}

.slick-arrow.slick-prev {
  left: 0;
  margin-left: -12px;
  height: 30px;
  background: url('img/left.png') 0 0 / 120% no-repeat;
}

.slick-arrow.slick-next {
  right: 0;
  
  height: 30px;
  background: url('img/right.png') 0 0 / 120% no-repeat;
}

.slick-dots {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.slick-dots li {
 list-style: none;
  margin-right: 10px; 
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid rgb(214, 214, 214);
}
@media all and (orientation: landscape), (min-width: 768px) {
  body{
    font-size: 27px;
  }

  header{
    height:120px;
  }

  #img{ 
   
    width:210px; 
  height:160px; 
  }
  
  #name{
    color:#fdd947;
    font-size: 100px;
  }

  footer{
    height: 100px;
  }

  h2{
    font-size: 56px;
    color:#272727;
  }
  
}